# Annotation 
*.gtf
*.gz
*.out
*.embl

# Sequences
*.fasta
*.zip

# Subread gunk
*.array
*.files
*.tab
*.reads
*.log

# Folders
genomes/10X/tc1/
genomes/10X/xla/

genomes/sequences/B.LAN_REFERENCE/
genomes/sequences/misc/
genomes/sequences/spikes/
annotation/processed/
